{%extends "blog/base.html"%}

{%block content%}

<script>
    function openTray(id) {
      document.getElementById('tray-' + id).classList.add('open');
    }
    function closeTray(id) {
      document.getElementById('tray-' + id).classList.remove('open');
    }
    function sharePost(url, title) {
      if (navigator.share) {
        navigator.share({ title: title, url: url });
      } else {
        navigator.clipboard.writeText(url);
        alert('Link copied!');
      }
    }
</script>

<div id="post" class="container">
    {%if messages%}
        <div id="message">
            {%for message in messages%}
               <p>{{message}}</p>
            {%endfor%}
        </div>
    {%endif%}

    <img class="profile-post" src="{{post.author.profile.profile_image.url}}">

    <div id="post-data">
        <legend>{{post.author}} {{post.date}}</legend>

        <span class="dots" onclick="openTray({{ post.pk }})">⋮</span>

        <div id="tray-{{ post.pk }}" class="tray">
          <span onclick="sharePost('{{ request.scheme }}://{{ request.get_host }}{% url 'share-post' post.pk %}', '{{ post.title }}')">Share</span>

          {% if user.is_authenticated and post.author == user %}
            <a href="{% url 'blog-post_update' post.pk %}">Edit</a>
            <a href="{% url 'blog-post_delete' post.pk %}">Delete</a>
          {% endif %}

          <span onclick="closeTray({{ post.pk }})">Cancel</span>
        </div>

        {% if post.image %}
          <img class="post-img" src="{{post.image.url}}">
        {%endif%}

        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
    </div>

    <a href="{% url 'blog-post'%}" class="post-icon">+</a>
</div>

{%endblock content%}