{%extends "blog/base.html"%}
  {%block content%}
  
    <script>
        function openTray(id) {
          document.getElementById('tray-' + id).classList.add('open');
        }
        function closeTray(id) {
          document.getElementById('tray-' + id).classList.remove('open');
        }
        
        function sharePost(url, title) {
          if (navigator.share) {
            navigator.share({ title: title, url: url });
          } else {
            navigator.clipboard.writeText(url);
            alert('Link copied!');
          }
        }
    </script>
    
    <div id="profile">
        
      {%if messages%}
      
        <div id="message">
            
            {%for message in messages%}
               <p>{{message}}</p>
               
            {%endfor%}
               
        </div>
      {%endif%}
      
      <legend>Profile</legend>
      
      <div id="banner">
          {%if user.profile.banner%}
            <img src="{{ user.profile.banner.url }}" alt="Banner picture" class="banner-pic">
          {%endif%}
      </div>
      
      <div id="edit-profile">
          <a href="{% url 'user-profile_update' %}" class="btn">Edit profile</a>
      </div>
      
      <div id="prof">
          {%if user.profile.profile_image%}
            <img src="{{ user.profile.profile_image.url }}" alt="Profile picture" class="profile-pic">
            
          {%endif%}
      
          <h1> {{user}}</h1>
      
      </div>
      
      <div id = "bio">
          
          {% if user.profile.bio%}
            <p class="bio">{{user.profile.bio}}</p>
          {%endif%}
          
          <p> {{user.email}}</p>
      </div>
      
    </div>
    
    <div id="post" class="container">
        
      {%if posts%}
    
          {%for post in posts%}
      
        <img onclick="window.location.href= '{%url 'user-specific_profile' post.author.username%}'" class="profile-post" src="{{post.author.profile.profile_image.url}}">
        
        <div id ="post-data">
            
            <legend>{{post.author}} {{post.date}}</legend>
            
            <span class="dots" onclick="openTray({{ post.pk }})">⋮</span>
            
            <div id="tray-{{ post.pk }}" class="tray">
                
              <span onclick="sharePost('{{ request.scheme }}://{{ request.get_host }}{% url 'share-post' post.pk %}', '{{ post.title }}')">Share</span>
              
              {% if user.is_authenticated and post.author == user %}
                <a href="{% url 'blog-post_update' post.pk %}">Edit</a>
                <a href="{% url 'blog-post_delete' post.pk %}">Delete</a>
              {% endif %}
              
              <span onclick="closeTray({{ post.pk }})">Cancel</span>
              
            </div>
            
            <a href="{% url 'blog-apost' post.pk%}">
                
                <div class="singlepost">
                    
                    {% if post.image %}
                      <img class="post-img" src="{{post.image.url}}">
                    {%endif%}
                    
                    <h1>{{post.title}}</h1>
                    <p>{{post.content|truncatewords:15}}</p>
                </div>
            </a>
        
        </div>
      
      {%endfor%}
          
      {%else%}
          <p>No posts yet!</p>
      {%endif%}
      
      <a href="{% url 'blog-post'%}" class="post-icon">+</a>
    
    </div>
  {%endblock content%}