{%extends "blog/base.html"%}

  {%block content%}
    <div id="login" class="container">
      
      <form method="POST" enctype="multipart/form-data">
    
        {%csrf_token%}
        <legend>Profile_update</legend>
        
        <div id = "form">
          {{p_form}}
        </div>
        
        <div id = "form">
          {{u_form}}
        </div>
        
        <div>
            
          <button type="submit">update</button>
        </div>
        
      </form>
      
    </div>
    
  {%endblock content%}